.square{
  width: 120px;
  height: 120px;
  margin-top: -3px;
  margin-left: -3px;
  padding: 0;
  font-size: 28px;
  text-align: center;
  color: #333;
  background-color: #FFFDFF;
  border: 2px solid #333;
  cursor: pointer;
}
.square:hover{
  background-color: #e9e8e8;
}